<?xml version='1.0' encoding='utf-8'?>
<widget id="co.jhdev.passgen" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PassGen</name>
    <description>
        A password generator application based on https://github.com/wijjo/passhash.
    </description>
    <author email="lord2800@gmail.com" href="http://jhdev.co">
        Jeff Hubbard
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
