<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password Hasher</title>
        <meta http-equiv="content-type" content="text-html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
        <script src="passhash.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <script>
            angular.module('passhash', [])
                .controller('passhash', function ($scope) {
                    $scope.savedName = '';
                    $scope.savedKeys = Object.keys(localStorage);

                    this.load = function (key) {
                        $scope.gen = JSON.parse(localStorage.getItem(key));
                    };
                    this.save = function (key, value) {
                        localStorage.setItem(key, JSON.stringify(value));
                        $scope.savedKeys = Object.keys(localStorage);
                    };
                    this.clear = function () {
                        localStorage.clear();
                        $scope.savedKeys = [];
                        $scope.savedName = '';
                    };

                    this.hash = function () {
                        $scope.hash = PassHashCommon.generateHashWord(
                            $scope.gen.tag + ($scope.gen.version > 0 ? ':' + $scope.gen.version : ''),
                            $scope.gen.masterKey,
                            $scope.gen.size,
                            $scope.gen.digit,
                            $scope.gen.punctuation,
                            $scope.gen.mixedCase,
                            $scope.gen.restrictSpecial,
                            $scope.gen.restrictDigits
                        );
                    };

                    this.reset = function () {
                        $scope.savedName = '';
                        $scope.hash = '';
                        $scope.gen = {
                            tag: '',
                            version: 0,
                            masterKey: '',
                            size: 16,
                            digit: true,
                            punctuation: true,
                            mixedCase: true,
                            restrictSpecial: false,
                            restrictDigits: false
                        };
                    };
                    this.bump = function () { $scope.gen.version++; };
                    this.copy = function () { cordova.plugins.clipboard.copy($scope.hash); };
                    this.reset();
                })
            ;
        </script>
    </head>

    <body ng-controller="passhash as passhash" class="container-fluid">
        <h1>Password Generator</h1>
        <div class="col-xs-12">
            <form novalidate role="form" name="hashForm">
                <div class="form-group row">
                    <select class="form-control" ng-options="name for name in savedKeys" ng-model="savedName"></select>
                    <input class="form-control" type="text" name="savedName" ng-model="savedName" />
                    <button class="btn btn-info" type="button" ng-click="passhash.save(savedName, gen)">Save</button>
                    <button class="btn btn-info" type="button" ng-click="passhash.clear()">Clear Saved</button>
                </div>
                <div class="form-group row">
                    <label for="siteTag">Site Tag</label>
                    <input class="form-control" type="text" name="siteTag" ng-model="gen.tag" />
                    <input class="form-control" type="number" disabled readonly name="siteVersion" ng-model="gen.version" />
                    <button class="btn" type="button" ng-click="passhash.bump()">Bump</button>
                </div>
                <div class="form-group row">
                    <label for="masterKey">Master Key</label>
                    <input class="form-control" type="password" name="masterKey" ng-model="gen.masterKey" />
                </div>
                <div class="form-group row">
                    <label for="hash">Hash</label>
                    <input class="form-control" type="text" name="hash" ng-model="hash" />
                </div>
                <div class="form-group row">
                    <label for="hashSize">Hash Size</label>
                    <select class="form-control" ng-options="size for size in [8, 12, 16, 20, 24, 28, 32]" ng-model="gen.size"></select>
                </div>
                <div class="form-group row">
                    <button class="btn btn-primary" type="button" ng-click="passhash.hash()" ng-disabled="hashForm.siteTag.$pristine || hashForm.masterKey.$pristine">Hash</button>
                    <button class="btn btn-danger"  type="button" ng-click="passhash.reset()">Reset</button>
                    <button class="btn btn-default" type="button" ng-click="passhash.copy()" ng-disabled="hash === ''">Copy</button>
                </div>
            </form>
        </div>
    </body>

    <script>
        function ready() {
            angular.element(document).ready(function () { angular.bootstrap(document.body, ['passhash']); });
        }

        if(angular.isDefined(window.cordova)) {
            document.addEventListener('deviceready', ready, false);
        } else {
            ready();
        }
    </script>
</html>
